.vscode
AdminCountryService_GetCountries/src/AdminCountryService_GetCountries/bin
AdminCountryService_GetCountries/src/AdminCountryService_GetCountries/obj
AdminCountryService_UpdateCountry/src/AdminCountryService_UpdateCountry/bin
AdminCountryService_UpdateCountry/src/AdminCountryService_UpdateCountry/obj
Shared/bin
Shared/obj
Test_1
UserCountryService_GetCountries/src/UserCountryService_GetCountries/bin
UserCountryService_GetCountries/src/UserCountryService_GetCountries/obj
UserIdentityService_CreateAccount/src/UserIdentityService_CreateAccount/bin
UserIdentityService_CreateAccount/src/UserIdentityService_CreateAccount/obj
AdminCountryService_GetCountries/test/AdminCountryService_GetCountries.Tests/obj
AdminCountryService_UpdateCountry/test/AdminCountryService_UpdateCountry.Tests/obj
UserCountryService_GetCountries/test/UserCountryService_GetCountries.Tests/obj
UserIdentityService_CreateAccount/test/UserIdentityService_CreateAccount.Tests/obj
