.vscode
AdminCountryService_GetCountries/src/AdminCountryService_GetCountries/bin
AdminCountryService_GetCountries/src/AdminCountryService_GetCountries/obj
AdminCountryService_UpdateCountry/src/AdminCountryService_UpdateCountry/bin
AdminCountryService_UpdateCountry/src/AdminCountryService_UpdateCountry/obj
Shared/bin
Shared/obj
Test_1
UserCountryService_GetCountries/src/UserCountryService_GetCountries/bin
UserCountryService_GetCountries/src/UserCountryService_GetCountries/obj
UserIdentityService_CreateAccount/src/UserIdentityService_CreateAccount/bin
UserIdentityService_CreateAccount/src/UserIdentityService_CreateAccount/obj
AdminCountryService_GetCountries/test/AdminCountryService_GetCountries.Tests/obj
AdminCountryService_UpdateCountry/test/AdminCountryService_UpdateCountry.Tests/obj
UserCountryService_GetCountries/test/UserCountryService_GetCountries.Tests/obj
UserIdentityService_CreateAccount/test/UserIdentityService_CreateAccount.Tests/obj
UserIdentityService_CheckPassword/src/UserIdentityService_CheckPassword/bin
UserIdentityService_CheckPassword/src/UserIdentityService_CheckPassword/obj
UserIdentityService_CloseAccount/src/UserIdentityService_CloseAccount/bin
UserIdentityService_CloseAccount/src/UserIdentityService_CloseAccount/obj
UserIdentityService_GetUserDetails/src/UserIdentityService_GetUserDetails/bin
UserIdentityService_GetUserDetails/src/UserIdentityService_GetUserDetails/obj
UserIdentityService_GetUserPermissions/src/UserIdentityService_GetUserPermissions/bin
UserIdentityService_GetUserPermissions/src/UserIdentityService_GetUserPermissions/obj
UserIdentityService_Login/src/UserIdentityService_Login/bin
UserIdentityService_Login/src/UserIdentityService_Login/obj
UserIdentityService_Logout/src/UserIdentityService_Logout/bin
UserIdentityService_Logout/src/UserIdentityService_Logout/obj
UserIdentityService_RefreshAccessToken/src/UserIdentityService_RefreshAccessToken/bin
UserIdentityService_RefreshAccessToken/src/UserIdentityService_RefreshAccessToken/obj
UserIdentityService_SetUserName/src/UserIdentityService_SetUserName/bin
UserIdentityService_SetUserName/src/UserIdentityService_SetUserName/obj
UserIdentityService_SetUserEmail/src/UserIdentityService_SetUserEmail/bin
UserIdentityService_SetUserEmail/src/UserIdentityService_SetUserEmail/obj
UserIdentityService_SetUserPassword/src/UserIdentityService_SetUserPassword/bin
UserIdentityService_SetUserPassword/src/UserIdentityService_SetUserPassword/obj
UserIdentityService_SetUserGender/src/UserIdentityService_SetUserGender/bin
UserIdentityService_SetUserGender/src/UserIdentityService_SetUserGender/obj
UserIdentityService_SetUserAddress/src/UserIdentityService_SetUserAddress/bin
UserIdentityService_SetUserAddress/src/UserIdentityService_SetUserAddress/obj
UserIdentityService_SetUserPhoneNumber/src/UserIdentityService_SetUserPhoneNumber/bin
UserIdentityService_SetUserPhoneNumber/src/UserIdentityService_SetUserPhoneNumber/obj
UserIdentityService_SetUserAllowNonEssentialEmails/src/UserIdentityService_SetUserAllowNonEssentialEmails/bin
UserIdentityService_SetUserAllowNonEssentialEmails/src/UserIdentityService_SetUserAllowNonEssentialEmails/obj
UserIdentityService_SetUserPreferences/src/UserIdentityService_SetUserPreferences/bin
UserIdentityService_SetUserPreferences/src/UserIdentityService_SetUserPreferences/obj
UserIdentityService_SetUserLimits/src/UserIdentityService_SetUserLimits/bin
UserIdentityService_SetUserLimits/src/UserIdentityService_SetUserLimits/obj
UserIdentityService_ResetUserPassword/src/UserIdentityService_ResetUserPassword/bin
UserIdentityService_ResetUserPassword/src/UserIdentityService_ResetUserPassword/obj
UserIdentityService_SetUserPasswordAfterReset/src/UserIdentityService_SetUserPasswordAfterReset/bin
UserIdentityService_SetUserPasswordAfterReset/src/UserIdentityService_SetUserPasswordAfterReset/obj
UserIdentityService_ResendEmailVerification/src/UserIdentityService_ResendEmailVerification/bin
UserIdentityService_ResendEmailVerification/src/UserIdentityService_ResendEmailVerification/obj
